body {
    font-family: sans-serif;
    background:"C:\Users\dell\Desktop\kartandtinki1_photo-wallpapers_02";
    margin-top: 75px;
    color:black;
    font-size:15px;
}

.center {
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#wel{
    font-size:40px;
    text-align:center;
}
#nav{
    margin-top:20px;
    background:CadetBlue;
    padding:1px;
    opacity:.7;
    border-radius:5px;
}
#nav a{
    color:cornsilk;
    text-decoration:none;
    font-size:20px;
    margin:4px;
    vertical-align:middle;
    text-align:center;
}
#nav ul li{
    padding:2px; 
    display:inline;
}
#nav ul li:hover{
    background:orangered;
    border-radius:3px;
    transition:all 0.60s;
}
#sub{
    margin-left:600px;
    margin-right:600px;
    margin-top:20px;
    font-size:20px;
    padding-right:0px;
    padding:20px;
    background:red;
    border-radius:15px;
    text-align:center;
}