body {
    font-family: sans-serif;
    background-color:aquamarine;
    margin-top: 75px;
    color:black;
    font-size:15px;
}

.center {
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#wel{
    font-size:80px;
    text-align:center;
}
#nav{
    background:skyblue;
    padding:1px;
}
#nav a{
    text-decoration:none;
    
}
#nav ul li{
    display:inline;
}
#nav ul li:hover{
    background:red;
    transition:all 0.60s;
}