body {
    font-family: sans-serif;
    background-color:aquamarine;
    margin-top: 75px;
    color:black;
    font-size:20px;
}

.center {
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#wel{
    font-size:40px;
}
